<!-- Include head -->
<%- include('./partials/head') %>
<!-- Include nav -->
<%- include('./partials/nav') %>

<main class="main-lobby">
  <!-- Linkerkant statistieken -->

  <aside class="stats-side">
    <article class="stats-card">
      <!-- Speler statistieken -->

      <header class="stats-title">Character Stats</header>
      <ul class="stat-list">
        <li class="stat-item">
          <label>Wins:</label>
          <output class="stat-value"><%= wins %></output>
        </li>
        <li class="stat-item">
          <label>Losses:</label>
          <output class="stat-value"><%= losses %></output>
        </li>
        <li class="stat-item">
          <label>K/D Ratio:</label>
          <% if (losses === 0) { %>
          <output class="stat-value"
            ><%= wins > 0 ? wins.toFixed(2) : "0.00" %></output
          >
          <% } else { %>
          <output class="stat-value"><%= (wins/losses).toFixed(2) %></output>
          <% } %>
        </li>
      </ul>
    </article>

    <!-- Season statistieken (later aanpassen) -->

    <article class="stats-card">
      <header class="stats-title">Season Progress</header>
      <ul class="stat-list">
        <li class="stat-item">
          <label>Level:</label>
          <output class="stat-value">87</output>
        </li>
        <li class="stat-item">
          <label>Battle Pass:</label>
          <output class="stat-value">Tier 95</output>
        </li>
        <li class="stat-item">
          <label>Days Left:</label>
          <output class="stat-value">12</output>
        </li>
      </ul>
    </article>
  </aside>

  <!-- Personage middelste deel -->
  <section class="character-display">
    <figure class="character-container">
      <img class="character" src="/images/Full character.png" alt="Character" />
      <figcaption class="character-name">John_Pork_2012</figcaption>
    </figure>
    <a href="./battle">
      <button class="play-button">Speel</button>
    </a>
  </section>

  <!-- Rechterkant nieuws -->
  <aside class="news-side">
    <article class="news-card">
      <header class="news-title">NIEUWS</header>
      <section id="news-content">
        <% if (newsItems.length > 0) { %> <% newsItems.forEach((item) => { %>
        <section class="news-item">
          <h3><%= item.title %></h3>
          <% if (item.image) { %>
          <img
            src="<%= item.image %>"
            class="news-image"
            alt="<%= item.title %>"
          />
          <% } %>
          <p class="news-body"><%= item.body %></p>
        </section>
        <hr style="border-color: var(--fortnite-blue); margin: 15px 0" />
        <% }); %> <% } else { %>
        <figure class="spinner"></figure>
        <% } %>
      </section>
    </article>
  </aside>
</main>

<!-- Include window -->
<%- include('./partials/window') %>
<!-- Include foot -->
<%- include('./partials/foot') %>
