<!-- Include head -->
<%- include('./partials/head') %>
<!-- Include nav -->
<%- include('./partials/nav') %>

<main class="locker-container">
  <!-- Linker kolom -->

  <aside class="items-column">
    <a href="./lockerdetails?type=character" class="item-slot">
      <header class="slot-title">Personage</header>
      <img class="item-image" src="<%= currentOutfit?.images?.smallIcon || '/images/Profile.webp' %>" alt="Character" />
      <p class="item-name"><%= currentOutfit?.name || 'Astronaut' %></p>
    </a>

    <a href="./lockerdetails?type=pickaxe" class="item-slot">
      <header class="slot-title">Bijl</header>
      <img
        class="item-image"
        src="<%= currentWeapon?.images?.smallIcon || '/images/Harvesting Tool Locker Graphic.PNG' %>"
        alt="Pickaxe"
      />
      <p class="item-name"><%= currentWeapon?.name || 'Gewone Bijl' %></p>
    </a>
  </aside>

  <!-- Middenste deel -->

  <section class="character-container">
    <!-- Personage -->

    <img class="character" src="/images/Full character.png" alt="Character" />
    <p class="character-name">John_Pork_2012</p>

    <!-- Bovenste knopjes -->

    <ul class="utility-buttons">
      <li>
        <a href="#" class="utility-button" id="rotate-button">
          <img src="/images/Wv8dnX.png" alt="Rotate" />
        </a>
      </li>
      <li>
        <a href="#" class="utility-button">
          <img src="/images/ftLA85.png" alt="Notes" />
        </a>
      </li>
      <li>
        <a href="#" class="utility-button">
          <img src="/images/starLocker.png" alt="Favorite" />
        </a>
      </li>
      <li>
        <a href="#" class="utility-button">
          <img src="/images/gdilKB.png" alt="Add" />
        </a>
      </li>
    </ul>

    <!-- Onderste knopjes -->

    <article class="action-buttons">
      <a href="./lobby" class="action-button">Terug</a>
      <a href="#" class="action-button random">Willekeurig</a>
    </article>
  </section>

  <!-- Rechter kolom -->

  <aside class="items-column">
    <a href="./lockerdetails?type=emote" class="item-slot">
      <header class="slot-title">Emote</header>
      <img class="item-image" src="<%= currentEmote?.images?.smallIcon || '/images/boogiedown.webp' %>" alt="Emote" />
      <p class="item-name"><%= currentEmote?.name || 'Boogie Down' %></p>
    </a>

    <a href="./lockerdetails?type=glider" class="item-slot">
      <header class="slot-title">Glider</header>
      <img
        class="item-image"
        src="/images/One_Shot_-_Glider_-_Fortnite.webp"
        alt="Glider"
      />
      <p class="item-name">Gewone Glider</p>
    </a>
  </aside>
</main>

<!-- Include window -->
<%- include('./partials/window') %>
<!-- Include foot -->
<%- include('./partials/foot') %>
