<!-- Include head -->
<%- include('./partials/head') %>
<!-- Include nav -->
<%- include('./partials/nav') %>

<main class="main-locker">
  <!-- Personages -->

  <section class="locker-section">
    <header class="section-title">Outfits</header>
    <ul class="items-grid">
      <% for (let i = 0; i < 20; i++) { %>
        <% const skin = skins[i]; %>
      <li class="locker-item">
        <figure>
          <img src="<%= skin.images.smallIcon %>" alt="Costume" class="item-image" />
          <figcaption class="item-actions">
            <img
              src="/images/star.webp"
              alt="Favorite"
              class="item-action star-icon"
            />
            <img
              src="/images/blacklist_new.png"
              alt="Blacklist"
              class="item-action blacklist-icon"
            />
          </figcaption>
        </figure>
      </li>
      <% } %>
    </ul>
  </section>

  <!-- Wapens -->

  <section class="locker-section">
    <header class="section-title">Wapens</header>
    <ul class="items-grid">
      <% for (let i = 0; i < 15; i++) { %>
        <% const weapon = weapons[i]; %>
      <li class="locker-item">
        <figure>
          <img src="<%= weapon.images.smallIcon %>" alt="Weapon" class="item-image" />
          <figcaption class="item-actions">
            <img
              src="/images/star.webp"
              alt="Favorite"
              class="item-action star-icon"
            />
          </figcaption>
        </figure>
      </li>
      <% } %>
    </ul>
  </section>

  <!-- Dansjes -->

  <section class="locker-section">
    <header class="section-title">Dansjes</header>
    <ul class="items-grid">
      <% for (let i = 0; i < 15; i++) { %>
        <% const emote = emotes[i]; %>
      <li class="locker-item">
        <figure>
          <img src="<%= emote.images.smallIcon %>" alt="Dance" class="item-image" />
          <figcaption class="item-actions">
            <img
              src="/images/star.webp"
              alt="Favorite"
              class="item-action star-icon"
            />
          </figcaption>
        </figure>
      </li>
      <% } %>
    </ul>
  </section>

  <!-- Zwarte lijst -->

  <section class="locker-section">
    <header class="section-title">Zwarte lijst</header>
    <ul class="items-grid">
      <% for (let i = 0; i < 15; i++) { %>
      <li class="locker-item">
        <figure>
          <img src="/images/farooq.png" alt="Blacklisted" class="item-image" />
        </figure>
      </li>
      <% } %>
    </ul>
  </section>
</main>

<!-- Include window -->
<%- include('./partials/window') %>
<!-- Include foot -->
<%- include('./partials/foot') %>
