<!-- Include head -->
<%- include('./partials/head') %>
<!-- Include nav -->
<%- include('./partials/nav') %>

<main class="shop-container">
    <!-- Bericht met aftelling -->
  
    <header class="featured-banner">
      <p>DAGELIJKSE AANBIEDINGEN - NIEUWE ITEMS ELKE DAG OM!</p>
    </header>
  
    <!-- Verkoop items -->
    <section class="shop-items" aria-label="Winkelvoorwerpen">
       <% for (let i = 0; i < 6; i++) { %>
        <% const skin = skinsOnly[i]; %>
          <article class="shop-item">
            <figure class="item-image-container">
              <img class="shop-item-image" src="<%= skin.images.icon %>" alt="Skin" />
            </figure>
            <div class="shop-item-details">
              <h3 class="shop-item-name"><%= skin.name %></h3>
              <p class="shop-item-price">
                <img src="/images/VBucksIcon.png" alt="V-Bucks" />
                <span><%= skin.finalPrice %></span>
              </p>
              <button class="shop-item-button">KOPEN</button>
            </div>
          </article>
        <% } %>

        <% for (let i = 0; i < 6; i++) { %>
        <% const emote = emotesOnly[i]; %>
          <article class="shop-item">
            <figure class="item-image-container">
              <img class="shop-item-image" src="<%= emote.images.icon %>" alt="Skin" />
            </figure>
            <div class="shop-item-details">
              <h3 class="shop-item-name"><%= emote.name %></h3>
              <p class="shop-item-price">
                <img src="/images/VBucksIcon.png" alt="V-Bucks" />
                <span><%= emote.finalPrice %></span>
              </p>
              <button class="shop-item-button">KOPEN</button>
            </div>
          </article>
        <% } %>

        <% for (let i = 0; i < 6; i++) { %>
        <% const weapon = weaponsOnly[i]; %>
          <article class="shop-item">
            <figure class="item-image-container">
              <img class="shop-item-image" src="<%= weapon.images.icon %>" alt="Skin" />
            </figure>
            <div class="shop-item-details">
              <h3 class="shop-item-name"><%= weapon.name %></h3>
              <p class="shop-item-price">
                <img src="/images/VBucksIcon.png" alt="V-Bucks" />
                <span><%= weapon.finalPrice %></span>
              </p>
              <button class="shop-item-button">KOPEN</button>
            </div>
          </article>
        <% } %>
    </section>
  </main>
  
  

<!-- Include window -->
<%- include('./partials/window') %>
<!-- Include foot -->
<%- include('./partials/foot') %>
